/* Will be compiled down to a single stylesheet with your sass files */
#loader {
    text-align: center;
    width: 80px;
    border: solid 1px red;
    padding: 5px 9px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
}